@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  background: linear-gradient(to bottom right, #002f5b, black);
  height: 100%;
  margin: 0;
}

body{
  padding-bottom: env(safe-area-inset-bottom);
  min-height: 100vh;
}